*.local.json
.env
.env.local
.env.production
.env.preview
.env.vercel.*
node_modules/
dist/
build/
.mcp.json

# Log files
*.log
logs/
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.vercel
